<div id="main">
  <%= image_tag "main-img.jpg" %>
</div>

<div id="article_wrap">
  <div id="article_list">
    <% @articles.each do |article| %>
      <div>
        <h2><%= link_to  article.title, article %></h2>
        <p><%= article.created_at.strftime("%Y/%m/%d") %></p>
        <% if user_signed_in? %>
          <p>
            <%= link_to  "編集", edit_article_path(article) %>
            <%= link_to  "削除", article, method: :delete,  "data-confirm" => "削除してよろしいですか?" %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render "articles/sidebar", articles: @ranking_articles %>
  <div class="clear"></div>
</div>