<header>
  <p id="logo">
    <%= link_to root_path do %>
      RailsCamp<span>Blog</span>
    <% end %>

    <nav>
      <ul>
        <li><%= link_to  "トップ", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to  "新規投稿", new_article_path %></li>
          <li><%= link_to  "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to  "新規登録", new_user_registration_path %></li>
          <li><%= link_to  "ログイン", new_user_session_path %></li>
        <% end %>
        <div class="clear"></div>
      </ul>
    </nav>
    <div class="clear"></div>
</header>